nav {
  background: linear-gradient(92.26deg, rgba(36, 38, 41, 0.12) 0%, rgba(36, 38, 41, 0.6) 99.74%);
  backdrop-filter: blur(80px);
  width: 100%;
  height: 10vh;
}

ul {
  display: none;
}

.menu {
  float: right;
  padding: 26px 10px 0px 0px;
  cursor: pointer;
}

.logo {
  float: left;
  padding: 18px 0px 0px 10px;
}

#check {
  display: none;
}

.inicial {
  width: auto;
}

.inicial div {
  margin: 50px 10px 20px 10px;
  background-color: #242629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: auto;
  height: 30vh;
}

h1 {
  font-size: 1.8rem;
  padding: 5px 0px 0px 10px;
  color: #FFFFFE;
  font-weight: 900;
  line-height: 200%;
  letter-spacing: 0.03em;
}

.secundary {
  font-size: 0.9rem;
  padding-left: 10px;
  font-weight: 300;
  color: #94A1B2;
  letter-spacing: 0.03em;
  line-height: 200%;
}

.secundary b {
  color: #FFFFFE;
  font-weight: 900;
}

.boton__1 {
  width: 35%;
  height: 15%;
  background-color: #7F5AF0;
  color: #FFFFFE;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 15px;
  margin: 20px 0px 0px 31px;
}

.boton__2 {
  width: 35%;
  height: 15%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border: 2px solid #7F5AF0;
  border-radius: 20px;
  color: #FFFFFE;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 15px;
  margin-left: 38px;
}

.class__title {
  color: #FFFFFE;
  font-size: 1.8rem;
  text-align: center;
}

.one {
  position: relative;
  width: auto;
  height: 0px;
  left: 0px;
  top: 25px;
  border: 1px solid #7F5AF0;
  z-index: -1;
}

.plans {
  margin-bottom: 20px;
}

.container__cards {
  margin-left: 55px;
  width: 30vh;
  margin-top: 20px;
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards {
  background-color: #242629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 30vh;
  height: 45vh;
}

.cards__title {
  margin-top: 30px;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 37px;
  color: #94A1B2;
  text-align: center;
}

.cards__subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 40px;
  color: #FFFFFF;
  text-align: center;
}

.cards__secondary {
  margin: 60px 0px 5px 0px;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 21px;
  color: #94A1B2;
  text-align: center;
  display: block;
}

.container__text {
  margin-top: 10px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__description {
  color: #94A1B2;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 15px;
}

.cards__line {
  border: 1px solid #7F5AF0;
}

.icons {
  margin-right: 10px;
  display: inline;
}

.cards__button {
  margin-left: 25%;
  margin-top: 25px;
  background-color: #7F5AF0;
  color: #FFFFFE;
  width: 55%;
  height: 8%;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
}

.premium {
  position: absolute;
  font-size: 0.9rem;
  color: #FFFFFE;
  font-weight: 600;
  background: linear-gradient(94.34deg, rgba(174, 177, 3, 0.8) 0%, rgba(155, 158, 2, 0.8) 48.99%, rgba(99, 101, 2, 0.8) 100%);
  border-radius: 0px 15px;
  width: 30vw;
  height: 4vh;
  padding: 5px 5px 5px 10px;
  left: 55%;
}

.alert {
  margin-top: 20px;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert__icon {
  color: #94A1B2;
  width: 20px;
  height: 20px;
}

.alert__all {
  font-weight: 400;
  color: #94A1B2;
}

.services {
  height: 70vh;
  margin-bottom: 20px;
}

.container__services {
  margin-top: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  width: auto;
}

.container__title {
  color: #FFFFFE;
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 1;
  margin-left: 10px;
  font-weight: 700;
  line-height: 37px;
}

.container__subtitle {
  color: #94A1B2;
  font-size: 1.2rem;
  grid-column: 1;
  grid-row: 1;
  margin: 40px 0px 0px 10px;
}

.ui {
  grid-column: 2;
  grid-row: 1;
  margin-left: 25%;
  margin-top: 15%;
}

.container__title2 {
  color: #FFFFFE;
  font-size: 1.5rem;
  grid-column: 2;
  grid-row: 2;
  margin-left: 10px;
  font-weight: 700;
  line-height: 37px;
}

.container__subtitle2 {
  color: #94A1B2;
  font-size: 1.2rem;
  grid-column: 2;
  grid-row: 2;
  margin: 80px 0px 0px 10px;
}

.landing {
  margin-top: 15%;
  grid-column: 1;
  grid-row: 2;
  margin-left: 25%;
}

.container__title3 {
  color: #FFFFFE;
  font-size: 1.5rem;
  grid-column: 1;
  grid-row: 3;
  margin-left: 10px;
  font-weight: 700;
  line-height: 37px;
}

.container__subtitle3 {
  color: #94A1B2;
  font-size: 1.2rem;
  grid-column: 1;
  grid-row: 3;
  margin: 80px 0px 0px 10px;
}

.marketing {
  grid-column: 2;
  grid-row: 3;
  margin-left: 25%;
  margin-top: 15%;
}

.proyects {
  height: 35vh;
}

.women {
  background-image: url(../../images/women.png);
  position: absolute;
  width: 202px;
  height: 200px;
  left: 120px;
  top: 2400px;
  z-index: -2;
}

.container__blur {
  background: linear-gradient(91.28deg, rgba(60, 65, 202, 0.1) 0%, rgba(234, 234, 234, 0.6) 100%);
  border-top: 0.5px solid #7F5AF0;
  backdrop-filter: blur(40px);
  border-radius: 0px 0px 17px 17px;
  width: 322px;
  height: 50px;
  position: relative;
  z-index: 1;
  top: -120px;
  left: 19px;
}

.container__landing {
  color: #050744;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 600;
  line-height: 12px;
}

.container__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2px;
  gap: 2px;
}

.text {
  text-align: center;
  font-size: 0.4rem;
  color: rgba(5, 7, 68, 0.5);
  font-weight: 700;
  line-height: 6px;
}

.container__icons {
  margin-top: 2px;
  display: flex;
  justify-content: center;
}

.left__btn {
  background-color: #7F5AF0;
  box-shadow: 0px -2px 4px rgba(15, 15, 15, 0.4);
  border-radius: 17px 0px;
  transform: rotate(90deg);
  position: relative;
  width: 20px;
  height: 35px;
  left: 5px;
  top: -23px;
}

.row__left {
  transform: rotate(-90deg);
}

.right__btn {
  background-color: #7F5AF0;
  position: relative;
  width: 20px;
  height: 35px;
  box-shadow: 0px -2px 4px rgba(15, 15, 15, 0.4);
  border-radius: 0px 17px;
  transform: rotate(-90deg);
  top: -23px;
  left: 272px;
}

.row__right {
  transform: rotate(90deg);
}

.title__secundary {
  color: #FFFFFE;
  font-size: 1.6rem;
  text-align: center;
}

.complete {
  font-size: 1rem;
  line-height: 46px;
  color: #94A1B2;
  margin-left: 10px;
}

form {
  margin-left: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  justify-items: center;
  gap: 5px;
}

.name {
  grid-column: 1;
  width: 100%;
}

.name__1 {
  height: 5vh;
  color: #94A1B2;
  font-weight: 300;
  font-size: 1rem;
  line-height: 37px;
  background: #242629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
}

.email {
  grid-column: 2;
  grid-row: 1;
  width: 100%;
}

.email__1 {
  background: #242629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 5vh;
  color: #94A1B2;
  font-weight: 300;
  font-size: 1rem;
  line-height: 37px;
  width: 100%;
}

.text {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;
}

.text__1 {
  width: 100%;
  color: #94A1B2;
  font-weight: 300;
  font-size: 1rem;
  line-height: 37px;
  background: #242629;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.send {
  grid-column: 2;
  grid-row: 3;
  width: 100%;
}

.send__1 {
  background-color: #2CB67D;
  border-radius: 12px;
  color: #FFFFFE;
  font-size: 1rem;
  padding: 5px 5px 5px 5px;
  width: 100%;
}

footer {
  width: 100%;
}

.contact__us {
  color: #FFFFFE;
  line-height: 18px;
  text-decoration-line: underline;
  font-weight: 400;
  font-size: 1.2rem;
  margin-left: 10px;
}

.container__reds {
  display: flex;
  flex-direction: row;
  margin: 20px 0px 0px 10px;
  gap: 25px;
}

.whatsapp {
  position: relative;
  top: -60px;
  left: 83%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  list-style: none;
  border-color: transparent;
}

body {
  background-color: #16161A;
}/*# sourceMappingURL=styles.css.map */