.proyects {
    height: 100vh;
    
    
}

.women {
    background-image: url(../../images/women.png);
    position: absolute;
    width: 137px;
    height: 140px;
    left: 184px;
    top: 2385px;
}